.gallery-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
    .grid-item {
        overflow: hidden;
        border-radius: var(--border-1);
        width: 100%;
        aspect-ratio: 3 / 2;
        img {
            width: 100%;
            aspect-ratio: 3 / 2;
            object-fit: cover;
            transition: transform var(--transition);
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
}